@import '/styles/variables.scss';

.contactInfo {
  display: flex;
  justify-content: center;
  margin: 86px auto;
  @include media('<=laptop') {
    flex-direction: column;
    padding: 20px 0;
  }
  .contact {
    width: 100%;
    background-color: $blueColorDarker;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2 {
      text-transform: uppercase;
      color: $whiteColor;
      margin: 40px auto;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 62px;
    }
    div {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      @include media('<=laptop') {
        width: 100%;
      }
      h5 {
        color: $whiteColor;
        max-width: 45ch;
        text-align: left;
      }
    }
  }
}
.mobileImg {
  display: none;
  width: 100%;
  height: auto;
  @include media('<=laptop') {
    display: block;
  }
}
.desktopImg {
  display: block;
  width: 50%;
  @include media('<=laptop') {
    display: none;
  }
}
.placeIcon {
  width: 78px !important;
  position: relative;
  left: -18px;
}
.phoneIcon {
  width: 60px !important;
  position: relative;
  left: 5px;
}
.mailIcon {
  width: 80px !important;
  position: relative;
  left: 15px;
}
