@import '/styles/variables.scss';

.contactInfo {
  display: flex;
  justify-content: center;
  margin: 86px auto;
  @include media('<=laptop') {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .contact {
    width: 100%;
    background-color: $blueColorDarker;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include media('<=laptop') {
      padding-top: 20px;
      padding-bottom: 30px;
    }
    h2 {
      text-transform: uppercase;
      color: $whiteColor;
      margin: 40px auto;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 62px;
    }
    .wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      @include media('<=laptop') {
        width: 100%;
        padding: 10px 0;
      }
      h5 {
        color: $whiteColor;
        max-width: 45ch;
        text-align: left;
      }
    }
  }
}
.mobileImg {
  display: none;
  width: 100%;
  height: auto;
  @include media('<=laptop') {
    display: block;
  }
}
.desktopImg {
  display: block;
  width: 50%;
  @include media('<=laptop') {
    display: none;
  }
}
.placeIcon {
  svg {
    width: 78px;
    position: relative;
    left: -15px;
    @include media('<=tablet') {
      width: 60px;
    }
  }
}
.phoneIcon {
  svg {
    width: 78px;
    position: relative;
    left: 5px;
    @include media('<=tablet') {
      width: 50px;
    }
  }
}
.mailIcon {
  svg {
    width: 76px;
    position: relative;
    left: 17px;
    @include media('<=tablet') {
      width: 57px;
    }
  }
}
