@import '/styles/variables.scss';

.mainInfo {
  margin: 100px 60px;
  display: flex;
  justify-content: space-between;

  @include media('<=laptop') {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 40px;
      @include media('<=desktop') {
        text-align: center;
        line-height: 50px;
      }
    }
    h2 {
      max-width: 578px;
      font-weight: 400;
      line-height: 42px;
      font-size: 32px;
      @include media('<=desktop') {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
    }
    a {
      text-align: center;
      display: flex;
      justify-content: center;
      button {
        background: $grayishBlueColorDarker;
        color: $whiteColor;

        box-shadow: 0px 4.77818px 4.77818px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 5px;

        margin: 52px 0;
        padding: 18px 55px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;

        transition: all 0.3s ease-out;

        &:hover {
          background-color: $grayishBlueColor;
        }
      }
    }
  }
}

.aboutInfo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-transform: uppercase;
    margin: 80px auto;
    font-size: 48px;
  }
  p {
    max-width: 1132px;
    text-align: center;
    @include media('<=laptop') {
      max-width: 400px;
    }
  }
  div {
    display: flex;
    margin-top: 76px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;

    gap: 300px;
    @include media('<=desktop') {
      gap: 100px;
      justify-content: center;
      align-items: center;
    }
    @include media('<=laptop') {
      flex-direction: column;
      //margin-left: 0;
    }
  }
  .values {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 0;
      margin: 5px auto;
      p {
        text-align: left;
        max-width: 650px;
        margin-top: 10px;
        @include media('<=tablet') {
          max-width: 400px;
        }
      }
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  h2 {
    text-transform: uppercase;
    margin: 80px auto;
    font-size: 48px;
  }

  section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
    @include media('<=laptop') {
      flex-direction: column;
      align-items: center;
    }
    div {
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        background: #fbfbfb;
        border: 3px solid #000000;
        border-radius: 5px;
        padding: 38.5px 32px;
        h5 {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 52px;
          text-align: center;
          max-width: 230px;
          color: #000000;
        }
      }
    }
  }
}

.valuesImg {
  @include media('<=tablet') {
    width: 400px;
    height: 250px;
  }
  @include media('<=phone') {
    width: 300px;
    height: 150px;
  }
}

.heroImg {
  @include media('<=tablet') {
    width: 410px;
    height: 338px;
  }
  @include media('<=phone') {
    width: 330px;
    height: 220px;
  }
}
