@import '/styles/variables.scss';

.team {
  width: 100%;
  h2.header {
    margin: 80px auto;
    text-align: center;
  }
  .lawyer,
  .lawyerOther {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 80px 80px;
    @include media('<=laptop') {
      flex-direction: column;
      align-items: center;
    }
    img {
      @include media('<=tablet') {
        width: 400px;
        height: auto;
      }
    }
    @include media('<=phone') {
      width: 223px;
      height: auto;
    }
  }
  h2 {
    margin-right: 100px;
    margin-top: 20px;
    @include media('<=laptop') {
      margin-right: 0;
    }
    span {
      color: $grayishBlueColor;
    }
  }
  p {
    max-width: 700px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 59px 80px;
    @include media('<=laptop') {
      text-align: center;
    }
    @include media('<=tablet') {
      margin: 59px 12px;
    }
  }
}

.lawyerOther {
  flex-direction: row-reverse;
}

.lastDivider {
  display: inherit;
  @include media('<=laptop') {
    display: none;
  }
}
