@import '/styles/variables.scss';
footer.footer {
  background-color: #fff;
  box-shadow: 0px -6px 50px 2px rgba(0, 0, 0, 0.25);

  padding-top: 118px;
  padding-bottom: 135px;
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  justify-content: space-around;
  @include media('<=tablet') {
    flex-direction: column;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
  }
  .contactAndHoursInfoWrapper {
    display: flex;
    flex-direction: row;
    gap: 300px;
    @include media('<=laptop') {
      gap: 100px;
      flex-direction: column-reverse;
      margin-bottom: 40px;
    }
  }
  p {
    opacity: 0.8;
    font-weight: 400;
    max-width: 865px;
    @include media('<=laptop') {
      max-width: 600px;
    }
  }
  p.hoursInfo,
  li {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;

    color: #000000;
    opacity: 0.5;
  }
  div {
    gap: 15px;
    display: flex;
    flex-direction: column;
    ul {
      marker: none;
    }
    .contactInfoSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    h5 {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 29px;
    }
  }
}
