@import 'include-media';
@import './breakpoints.scss';

$grayishBlueColor: #444597;
$grayishBlueColorDark: #343573;
$grayishBlueColorDarker: #22234d;

$blueColor: #291c73;
$blueColorDark: #181047;
$blueColorDarker: #100a30;

$whiteColor: #eaeaea;
$whiteColorDark: #b6b6b6;
$greyColorLight: #636366;
$greyColor: #3c3c40;
$greyColorDark: #1e1e29;
$blackColor: #06060e;
